<header>
    <img src="/logo/InvenTack.png" alt="" />
    <h1>InvenTrack</h1>
    <nav>
        <a href="/"><i class="bi bi-house-door"></i> Home</a>
        <a href="/items"><i class="bi bi-list-ul"></i> Items</a>
    </nav>
</header>
