<header>
    <div class="header-container">
        <a class="logo" href="/">
            <div class="img-container">
                <img src="/logo/InvenTack.png" alt="" />
            </div>
            <h1>InvenTrack</h1>
        </a>

        <nav>
            <a class="nav-icon active" href="/"
                ><i class="bi bi-house-door"></i>
            </a>
            <a class="nav-icon" href="/items"><i class="bi bi-list-ul"></i> </a>
        </nav>
    </div>
    <script></script>
</header>
