<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        />
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/header.css" />
        <link rel="stylesheet" href="/new.css" />
        <title>InvenTrack</title>
    </head>
    <body>
        <%- include ('partials/header') %>
        <form action="/new/item" method="post">
            <input type="hidden" name="category" value="<%= categoryId %>" />
            <div class="item-name">
                <label for="name">Item Name:</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="e.g Laptop"
                    required
                />
            </div>
            <div class="item-amount">
                <label for="amount">Item Amount:</label>
                <input
                    type="number"
                    id="amount"
                    name="amount"
                    placeholder="amount e.g 100"
                    required
                    min="1"
                />
                <input
                    type="number"
                    id="decimal"
                    name="decimal"
                    placeholder="cents e.g 55"
                    max="99"
                    min="0"
                />
            </div>
            <div class="item-quantity">
                <label for="Quantity">Item Quantity:</label>
                <input
                    type="text"
                    id="quantity"
                    name="quantity"
                    placeholder="e.g 10"
                    required
                />
            </div>
            <div class="item-description">
                <label for="description">Description:</label>
                <textarea
                    id="description"
                    name="description"
                    rows="4"
                    required
                    placeholder="Enter item description..."
                ></textarea>
            </div>
            <button type="submit">Add item</button>
        </form>
    </body>
</html>
